.info-devision {
  margin-bottom: 50px;
}

/* 役員・グループ名 */
* {
  padding: 0;
}

.organization-chart {
  justify-content: center;
  display: flex;
}

.headOfficer {
  position: relative;
}

.officeBoxSide {
  position: absolute;
}

.data-tree-side-auditor {
  bottom: 513px;
  right: 250px;
}

.data-tree-side-adviser {
  bottom: 433px;
  right: 250px;
}

.data-tree-side-sales {
  bottom: 433px;
  right: 740px;
}

.headOfficer ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.headOfficer li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.headOfficer li::before,
.headOfficer li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 3px solid #ccc;
  width: 50%;
  height: 20px;
}

.headOfficer li::after {
  right: auto;
  left: 50%;
  border-left: 3px solid #ccc;
}

.headOfficer li:only-child::after,
.headOfficer li:only-child::before {
  display: none;
}

.headOfficer li:only-child {
  padding-top: 0;
}

.headOfficer li:first-child::before,
.headOfficer li:last-child::after {
  border: 0 none;
}

.headOfficer li:last-child::before {
  border-right: 3px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.headOfficer li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.headOfficer ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 3px solid #ccc;
  width: 0;
  height: 20px;
}

.officerBox {
  border: 3px solid #ff6600;
  padding: 10px 20px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  letter-spacing: 0.2em;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.officerBox:hover {
  color: #000;
  text-decoration: none;
}

.data-tree-side-auditor {
  bottom: 510px;
  right: 360px;
}

.data-tree-side-auditor>a {
  font-size: 18px;
}

.data-tree-side-adviser {
  bottom: 430px;
  right: 360px;
}

.data-tree-side-adviser>a {
  font-size: 18px;
}

.data-tree-side-sales {
  bottom: 430px;
  right: 775px;
}

.data-tree-side-sales>a {
  font-size: 18px;
}

.officeBoxChild {
  border: 3px solid #ccc;
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  max-width: 260px;
  min-width: 260px;
}

@media (max-width:1900px) {

  .data-tree-box-child {
    max-width: 200px;
    min-width: 200px;
  }

  .data-tree-side-auditor {
    bottom: 524px;
    right: 270px;
  }

  .data-tree-side-adviser {
    bottom: 444px;
    right: 270px;
  }

  .data-tree-side-sales {
    bottom: 444px;
    right: 680px;
  }

}

@media (max-width:1700px) {

  .officeBoxChild {
    max-width: 180px;
    min-width: auto;
  }

  .data-tree-side-auditor {
    bottom: 524px;
    right: 220px;
  }

  .data-tree-side-adviser {
    bottom: 444px;
    right: 220px;
  }

  .data-tree-side-sales {
    bottom: 444px;
    right: 650px;
  }

}

@media (max-width:1600px) {


  .data-tree-side-auditor {
    bottom: 530px;
    right: 230px;
  }

  .data-tree-side-adviser {
    bottom: 450px;
    right: 230px;
  }

  .data-tree-side-sales {
    bottom: 450px;
    right: 660px;
  }

}

@media (max-width:1400px) {

  .officeBoxChild {
    max-width: 150px;
  }

  .data-tree-side-auditor {
    bottom: 551px;
    right: 190px;
  }

  .data-tree-side-adviser {
    bottom: 471px;
    right: 190px;
  }

  .data-tree-side-sales {
    bottom: 471px;
    right: 595px;
  }

}

@media (min-width:1300px) {

  .org-expanse {
    display: none;
  }

}

@media (max-width:1300px) {

  .org-expanse {
    display: block;
    margin-top: 30px !important;
    font-size: 8pt !important;
  }

  .org-title {
    margin-top: 30px;
  }

  .org-expanse ul {
    color: #000000;
    /*文字色*/
    border-top: solid #ff6600 2px;
    /*上ボーダー*/
    border-bottom: solid #ff3300 2px;
    /*下ボーダー*/
    padding: 1.8rem 1rem;
  }

  .data-tree-box-child {
    display: none;
  }

  .data-tree-side-auditor {
    bottom: 179px;
    right: 140px;
  }

  .data-tree-side-adviser {
    bottom: 99px;
    right: 140px;
  }

  .data-tree-side-sales {
    bottom: 99px;
    right: 535px;
  }

}

@media (max-width:1200px) {

  .data-tree-box {
    font-size: 10px;
    padding: 5px 5px;
    margin: 0px;
    letter-spacing: 0em;
  }

  .data-tree-side-auditor>a {
    font-size: 10px;
  }

  .data-tree-side-adviser>a {
    font-size: 10px;
  }

  .data-tree-side-sales>a {
    font-size: 10px;
  }

  .data-tree-side-auditor {
    bottom: 119px;
    right: 50px;
  }

  .data-tree-side-adviser {
    bottom: 69px;
    right: 50px;
  }

  .data-tree-side-sales {
    bottom: 69px;
    right: 215px;
  }

}